/.vs
**/bin/
**/obj/
**/node_modules/
**/appsettings.Development.json
/.vscode
/Microservices.Ecommerce/Microservices.Ecommerce.WebApi
/Microservices.Ecommerce/Microservices.Ecommerce.WebViteApp.Server/appsettings.Development.json